.ListContainer {
  max-width: 60%;
  margin: 0 auto;
  background-color: $blackMedium;
  list-style: none;
  text-decoration: none;
  padding: 20px;

  &:empty {
    display: none;
  }
}

.listItem {
  position: relative;
  background-color: $listItemBg;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .previewSong {
    height: $listItemHeight;
    width: $listItemHeight;
    min-width: $listItemHeight;
    overflow: hidden;
  }

  .songDescription {
    display: flex;
    height: $listItemHeight;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px;
    text-align: left;

    .songTitle {
      margin: 3px 0;
    }

    .songPopularity {
      font-size: $fontSizeSecondary;
    }

    .songArtists {
      font-size: $fontSizeSecondary;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-word;
      max-height: 35px;
      max-width: 90%;
    }

  }

  .AddLibray,
  .RemoveLibray {
    background-color: $primaryWhite;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-left: auto;

    &:hover {
      background-color: $greenPrimaryBackground;
      color: $primaryWhite;
    }
  }

  .RemoveLibray {
    background-color: $redWarnings;

    &:hover {
      background-color: $primaryWhite;
      color: $blackMedium;
    }
  }
}

.vote {
  display: flex;
  margin-left: auto;

  .like,
  .noLike {
    background-color: $primaryWhite;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $greenPrimaryBackground;
      color: $primaryWhite;
    }
  }

  .like {
    color: $greenPrimaryBackground;
    margin-right: 10px;
  }

  .noLike {
    color: $redWarnings;
    margin-right: 20px;
  }
}


@media only screen and (max-width: 700px) {
    .ListContainer {
      max-width: 100%;
    }
    .listItem {
      flex-direction: column;
      align-items: flex-start;

      .previewSong {
        width: auto;
        max-width: 100%;
      }
      .songDescription {
        height: auto;
        margin-left: 0;
        margin-top: 10px;

        .songArtists {
          max-width: none;
          max-height: none;
        }
      }
      .AddLibray,
      .RemoveLibray {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .vote {
      margin-left: 0;
      margin-top: 10px;
    }
}
