$mainColor: #262626;
$blackMedium: #1c1c1f;
$listItemBg: #222326;
$primaryWhite: #ffffff;
$listItemHeight: 80px;
$fontSizeSecondary: 0.8em;
$greenPrimaryBackground: #84BD00;
$redWarnings: #D9453D;

//Measurements
$btn-width: 44px;
